<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>models.Projects</title>
    <style>
        table {
            text-align: center;
            margin: 0 auto;
        }
        td {
            min-width: 300px;
            margin: 5px 5px 5px 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>budget</th>
        </tr>
        <tr>
            <td>1</td>
            <td>project title 1</td>
            <td>3750000</td>
        </tr>
        <tr>
        	<td>2</td>
        	<td>project title 2</td>
        	<td>5730000</td>
        </tr>
    </table>
</body>
</html>