<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table {
            text-align: center;
            margin: 0 auto;
        }
        td {
            min-width: 300px;
            margin: 5px 5px 5px 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>jobTitle</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Hasan Kachal</td>
            <td>Web Developer</td>
        </tr>
        <tr>
        	<td>2</td>
        	<td>Ali ShahidZadeh</td>
        	<td>Data Scientist</td>
        </tr>
    </table>
</body>
</html>